mixin menu (classUl, classItem, classLink)
    ul(class=classUl)
        li(class-=classItem)
            a(class=classLink href="my-works.html") Мои работы
        li(class-=classItem)
            a(class=classLink href="about.html") Обо мне
        li(class-=classItem)
            a(class=classLink href="blog.html") Блог
        li(class-=classItem)
            a(class=classLink href="index.html") Авторизация 